@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,500;1,600&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.font-secondary{
    font-family: 'Roboto Mono', monospace;
}
.rock {
    background-color: rgb(148, 81, 81);
}
.ghost {
    background-color: rgb(247, 247, 247);
}
.electric {
    background-color: rgb(255, 255, 161);
}
.bug {
    background-color: #F6D6A7;
}
.poison {
    background-color: #e0a7f6;
}
.normal {
    background-color: #F4F4F4;
}
.fairy {
    background-color: rgba(255, 192, 203, 0.863);
}
.fire {
    background-color: #FBE3DF;
}
.grass {
    background-color:#E2F9E1;
}
.water {
    background-color:#E0F1FD;
}
/*text animation*/
@media only screen and (min-width: 450px) {
    .my-name{
        letter-spacing: 1px;
        animation: text-name 3s 1;
    }
    @keyframes text-name {
        0% {
            color: #fff;
        }

        30% {
            color: #000;
        }
    }
    .typing-animation{
        width: 19ch;
        animation: typing 3s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;
    }
    @keyframes typing {
        from {
            width: 0
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent
        }
    }
}
